{extend name="wx_base" /}

{block name="style"}
<style>
.btn-submit {
  margin: 40px 30px 0 30px;
  /* background-color: #2185D0; */
}
.weui-picker__action {
  color: #2185D0 !important;
}
</style>
{/block}

{block name="content"}
<div class="weui-cells__title tips">尊敬的{$account}用户，请填写要预约的车辆信息：</div>
<div class="weui-cells weui-cells_form">
  <form id="form-submit">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">员工电话</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" pattern="[0-9]*" placeholder="输入员工电话" name="tel">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">预约车牌号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="例如：川A123456" name="car_no" id="car_no">
      </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">预约人姓名</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="输入预约人姓名" name="name">
        </div>
      </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label for="" class="weui-label">到访时间</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="visit_time" name="visit_time" placeholder="选择明天的到访时间" readonly>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">到访事由</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="输入到访事由" id="visit_reason" name="visit_reason">
      </div>
    </div>
  </form>
</div>
<!-- <div class="weui-cells__tips">当前允许预约明天的到访时间</div> -->
<a href="javascript:;" class="weui-btn weui-btn_primary btn-submit" id="btn-submit">预约</a>
{/block}

{block name="javascript"}
<script>
// 绑定时间选择器
$('#visit_time').on('click', function() {
  const self = this;
  weui.picker(getHours(), {
    container: 'body',
    defaultValue: ['07:00'],
    onChange: function(value) {
      $(self).val(value);
    },
    onClose: function(value) {
      $(self).val(Global.getTomorrowDate() + ' ' + $(self).val() + ':00');
    },
    id: 'visit_time',
  })
});

// 获取预约时间段
const getHours = () => {
  let hours = [];
  for (let i = 7; i < 24; i++) {
    hours.push(i < 10 ? ('0' + i + ':00') : (i + ':00'));
  }
  return hours;
};

// 车牌字母转换为大写
$('#car_no').on('change', function() {
  $(this).val($(this).val().toUpperCase());
});

// 绑定提交事件
$('#btn-submit').on('click', function() {
  const form = document.querySelector('#form-submit');
  let validateFlag = true;
  const _alert = (errMsg) => {
    weui.topTips(errMsg, 1500);
    validateFlag = false;
  };

  if (validateFlag) {
    validateFlag && (form.tel.value || _alert('请填写员工手机号！'));
    validateFlag && (form.car_no.value || _alert('请填写车牌号！'));
    validateFlag && (Global.checkCarNo(form.car_no.value) || _alert('请填写合法的车牌号！'));
    validateFlag && (form.name.value || _alert('请填写预约人姓名！'));
    validateFlag && (form.visit_time.value || _alert('请选择到访时间！'));
    validateFlag && (form.visit_reason.value || _alert('请填写到访事由！'));
  }

  if(validateFlag) {
    const loading = weui.loading('提交中...');
    try {
      $.post("{:url('save_reservation')}", $('#form-submit').serializeArray(), (response) => {
        if (response) {
          loading.hide(() => {
            weui.toast(response.msg, {
              duration: 1000,
              callback: () => {
                // window.location.replace(response.url);
                window.location.href = response.url;
              }
            });
          })
        } else {
          loading.hide();
          weui.topTips('预约失败！您今天已没有预约次数了，请明天再预约。', 3000);
        }
      });
    } catch (error) {
      loading.hide();
      console.log('erroe', error);
      weui.topTips('网络错误！提交失败。', 1500);
    }
  }
});
</script>
{/block}