{extend name="wx_base" /}

{block name="style"}
<style>
.btn-submit {
  margin: 40px 30px 0 30px;
  /* background-color: #2185D0; */
}
.weui-picker__action {
  color: #2185D0 !important;
}
.weui-label {
  width: 120px;
}
</style>
{/block}

{block name="content"}
<div class="weui-cells__title tips">尊敬的{$emp_no}用户，请填写要预约的车辆信息：</div>
<div class="weui-cells weui-cells_form">
  <form id="form-submit">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">司机电话</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" value="{$emp_no}" pattern="[0-9]*" placeholder="输入司机电话" name="tel">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">预约车牌号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="例如：川A12345" name="car_no" id="car_no">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">预约人姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="输入预约人姓名" name="name">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">预约日期</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="visit_date" name="visit_date" placeholder="选择预约日期" readonly>
      </div>
    </div>
    <!-- <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">离校日期</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="leave_date" name="leave_date" placeholder="选择离校日期" readonly>
      </div>
    </div> -->
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">预约时间</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="visit_time" name="visit_time" placeholder="选择预约时间" readonly>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">离校时间</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="leave_time" name="leave_time" placeholder="选择预约时间" readonly>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">预约事由</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="输入预约事由" id="visit_reason" name="visit_reason">
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__hd">
        <label class="weui-label">是否申请免费</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" name="is_apply_free" id="is_apply_free">
          <option value="1">是</option>
          <option value="0">否</option>
        </select>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">免费理由</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="免费理由：因私不免费" id="free_reason" name="free_reason">
      </div>
    </div>
  </form>
</div>
<div class="weui-cells__tips">您当前剩余的预约次数为：{$rest_time}次。</div>
<a href="javascript:;" class="weui-btn weui-btn_primary btn-submit" id="btn-submit">预约</a>
{/block}

{block name="javascript"}
<script>
var variable = {};
$(function() {
  $.get("{:url('get_reservation_days')}", {}, (data) => {
    variable['reservation_days'] = data;
  });
  $('#visit_date').val(Global.getTomorrowDate());
});
// 绑定时间选择器
$('#visit_time').on('click', function() {
  const self = this;
  weui.picker(getHours(), {
    container: 'body',
    defaultValue: ['07:00'],
    onChange: function(value) {
      $(self).val(value);
    },
    onConfirm: function() {
      // $(self).val(Global.getTomorrowDate() + ' ' + $(self).val() + ':00');
    },
    id: 'visit_time',
  })
});
$('#leave_time').on('click', function() {
  const self = this;
  weui.picker(getHours(), {
    container: 'body',
    defaultValue: ['07:00'],
    onChange: function(value) {
      $(self).val(value);
    },
    onConfirm: function() {
      // $(self).val(Global.getTomorrowDate() + ' ' + $(self).val() + ':00');
    },
    id: 'visit_time',
  })
});
// 绑定预约日期选择器
// $('#visit_date').on('click', function() {
//   const self = this;
//   weui.datePicker({
//     start: Global.getTomorrowDate(),
//     end: 2030,
//     defaultValue: Global.getTomorrowDate().split('-'),
//     onChange: function(result) {
//       const [ { value: year } , { value: month }, { value: day }] = result;
//       const date = year + '-' + (month >= 10 ? month : '0' + month) + '-' + (day >= 10 ? day : '0' + day);
//       $(self).val(date);
//       variable['visit_date'] = date;
//     },
//     onConfirm: function(result) {console.log(result)},
//     id: 'visit_date',
//   });
// });

// 绑定离校日期选择器
$('#leave_date').on('click', function() {
  const self = this;
  weui.datePicker({
    start: variable['visit_date'],
    end: Global.getFutureDate(variable['visit_date'], variable['reservation_days']),
    defaultValue: variable['visit_date'].split('-'),
    onChange: function(result) {
      const [ { value: year } , { value: month }, { value: day }] = result;
      const date = year + '-' + (month >= 10 ? month : '0' + month) + '-' + (day >= 10 ? day : '0' + day);
      $(self).val(date);
    },
    onConfirm: function(result) {console.log(result)},
    id: 'leave_date',
  });
});

// 获取预约时间段
const getHours = () => {
  let hours = [];
  for (let i = 7; i < 24; i++) {
    hours.push(i < 10 ? ('0' + i + ':00') : (i + ':00'));
  }
  return hours;
};

// 车牌字母转换为大写
$('#car_no').on('change', function() {
  $(this).val($(this).val().toUpperCase());
});

// 绑定提交事件
$('#btn-submit').on('click', function() {
  const form = document.querySelector('#form-submit');
  let validateFlag = true;
  const _alert = (errMsg) => {
    weui.topTips(errMsg, 1500);
    validateFlag = false;
  };

  if (validateFlag) {
    validateFlag && (form.tel.value || _alert('请填写司机手机号！'));
    validateFlag && (form.tel.value.length === 11 || _alert('请填写长度为11位的手机号！'));
    validateFlag && (form.car_no.value || _alert('请填写车牌号！'));
    validateFlag && (Global.checkCarNo(form.car_no.value) || _alert('请填写合法的车牌号！'));
    validateFlag && (form.name.value || _alert('请填写预约人姓名！'));
    validateFlag && (form.visit_date.value || _alert('请选择预约日期！'));
    // validateFlag && (form.leave_date.value || _alert('请选择离校日期！'));
    validateFlag && (form.visit_time.value || _alert('请选择预约时间！'));
    validateFlag && (form.leave_time.value || _alert('请选择离校时间！'));
    validateFlag && (form.visit_reason.value || _alert('请填写预约事由！'));
  }

  if (form.visit_time.value > form.leave_time.value) {
    return _alert('离校时间不能小于预约时间！');
  }

  if (validateFlag) {
    if (form.is_apply_free.value == 1 && !form.free_reason.value) {
      _alert('请填写免费理由！');
    }
  }

  if(validateFlag) {
    const loading = weui.loading('提交中...');
    const emp_no = "{$emp_no}";
    let url = '';
    new Promise((resolve) => {
      // const sendData = $('#form-submit').serializeArray().filter((item) => {
      //   return item.name != 'visit_time' && item.name != 'visit_date';
      // });
      // sendData.push({
      //   name: 'visit_time',
      //   value: $('#visit_date').val() + ' ' + $('#visit_time').val() + ':00',
      // });
      if (emp_no.length === 11) {
        url = "{:url('save_reservation_driver')}";
      } else {
        url = "{:url('save_reservation')}";
      }
      $.post(url, $('#form-submit').serializeArray(), (response) => {
        if (response.code) {
          loading.hide(() => {
            weui.toast(response.msg, {
              duration: 1000,
              callback: () => {
                window.location.replace(response.url);
                // window.location.href = response.url;
              }
            });
          })
        } else {
          loading.hide(() => {
            weui.topTips(response.msg, 3000);
          });
        }
      });
    })
    .catch((error) => {
      loading.hide();
      console.log('error', error);
      weui.topTips('服务器未知错误！提交失败。', 1500);
    })
  }
});
</script>
{/block}