{extend name="wx_base" /}

{block name="style"}
<style>
.btn-submit {
  margin: 40px 30px 0 30px;
  /* background-color: #2185D0; */
}
.weui-picker__action {
  color: #2185D0 !important;
}
.weui-label {
  width: 120px;
}
</style>
{/block}

{block name="content"}
<div class="weui-cells__title tips">尊敬的{$emp_no}用户，请填写要预约的车辆信息：</div>
<div class="weui-cells weui-cells_form">
  <form id="form-submit">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">一卡通号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" value="" placeholder="输入一卡通号" name="campus_card_no" id="campus_card_no">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="输入姓名" name="name" id="name">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">单位</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="输入单位名称" name="unit" id="unit">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">预约事由</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="输入预约事由" name="apply_reason">
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__hd">
        <label class="weui-label">预约形式</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" name="apply_type" id="apply_type">
          <option value="单位预约">单位预约</option>
          <option value="个人预约">个人预约</option>
        </select>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">车主姓名</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="输入车主姓名" name="car_owner_name">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">车牌号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="普通车辆：川A12345，新能源车辆：川A123456" name="car_no" id="car_no">
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__hd">
        <label class="weui-label">车辆种类</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" name="car_type" id="car_type">
          <option value="轿车">轿车</option>
          <option value="客车">客车</option>
          <option value="货车">货车</option>
          <option value="其他">其他</option>
        </select>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">行驶证编号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="输入行驶证编号" name="driving_license_no">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">联系电话</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" placeholder="输入联系电话" name="tel">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">进校时间</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" name="visit_time" id="visit_time">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">离校时间</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" value="" name="leave_time" id="leave_time">
      </div>
    </div>
  </form>
</div>
<form id="form-image">
  <div class="weui-cells__title">资料采集：</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell" id="campus-card-uploader">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__hd">
            <p class="weui-uploader__title">校内员工一卡通<span class="required-icon">*</span></p>
            <div class="weui-uploader__info"><span id="uploadCount">0</span>/1</div>
            <input type="hidden" class="image-id" name="campus_card_id" id="campus_card_id">
          </div>
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-cell" id="driving-license-uploader">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__hd">
            <p class="weui-uploader__title">车主行驶证<span class="required-icon">*</span></p>
            <div class="weui-uploader__info"><span id="uploadCount">0</span>/1</div>
            <input type="hidden" class="image-id" name="driving_license_id" id="driving_license_id">
          </div>
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
            <div class="weui-uploader__input-box">
              <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<a href="javascript:;" class="weui-btn weui-btn_primary btn-submit" id="btn-submit">预约</a>
{/block}

{block name="javascript"}
<script>
var variable = {};
$(function() {
  // 图片上传注册
  uploadFactory('#driving-license-uploader').init();
  uploadFactory('#campus-card-uploader').init();
});
// 绑定时间选择器
$('#visit_time').on('click', function() {
  const self = this;
  weui.picker(getHours(), {
    container: 'body',
    defaultValue: ['07:00'],
    onChange: function(value) {
      $(self).val(value);
    },
    onConfirm: function() {
      // $(self).val(Global.getTomorrowDate() + ' ' + $(self).val() + ':00');
    },
    id: 'visit_time',
  })
});
$('#leave_time').on('click', function() {
  const self = this;
  weui.picker(getHours(), {
    container: 'body',
    defaultValue: ['07:00'],
    onChange: function(value) {
      $(self).val(value);
    },
    onConfirm: function() {
      // $(self).val(Global.getTomorrowDate() + ' ' + $(self).val() + ':00');
    },
    id: 'leave_time',
  })
});

// 获取预约时间段
const getHours = () => {
  let hours = [];
  for (let i = 7; i < 24; i++) {
    hours.push(i < 10 ? ('0' + i + ':00') : (i + ':00'));
  }
  return hours;
};

// 车牌字母转换为大写
$('#car_no').on('change', function() {
  $(this).val($(this).val().toUpperCase());
});

// 绑定提交事件
$('#btn-submit').on('click', function() {
  const form = document.querySelector('#form-submit');
  let validateFlag = true;
  const _alert = (errMsg) => {
    weui.topTips(errMsg, 1500);
    validateFlag = false;
  };

  if (validateFlag) {
    validateFlag && (form.name.value || _alert('请填写姓名！'));
    validateFlag && (form.unit.value || _alert('请填写单位！'));
    validateFlag && (form.campus_card_no.value || _alert('请填写一卡通号！'));
    validateFlag && (form.campus_card_no.value.length === 12 || _alert('请填写长度为12位的一卡通号！！'));
    validateFlag && (form.apply_reason.value || _alert('请填写申请事由！'));
    validateFlag && (form.car_owner_name.value || _alert('请填写车主姓名！'));
    validateFlag && (form.car_no.value || _alert('请填写车牌号！'));
    validateFlag && (Global.checkCarNo(form.car_no.value) || _alert('请填写合法的车牌号！'));
    validateFlag && (form.driving_license_no.value || _alert('请填写行驶证编号！'));
    validateFlag && (form.tel.value || _alert('请填写联系电话！'));
    validateFlag && (form.tel.value.length === 11 || _alert('请填写长度为11位的手机号！'));
    validateFlag && (form.visit_time.value || _alert('请选择入校时间！'));
    validateFlag && (form.leave_time.value || _alert('请选择离校时间！'));
  }

  if (form.visit_time.value > form.leave_time.value) {
    return _alert('离校时间不能小于预约时间！');
  }

  const imageForm = document.querySelector('#form-image');
  if (validateFlag) {
    validateFlag && (imageForm.campus_card_id.value || _alert('请上传校园一卡通！'));
    validateFlag && (imageForm.driving_license_id.value || _alert('请上传车辆行驶证！'));
  }

  if(validateFlag) {
    const loading = weui.loading('提交中...');
    new Promise((resolve) => {
      const formData = $('#form-submit').serializeArray();
      const imageData = $('#form-image').serializeArray();
      const data = formData.concat(imageData);
      $.post("{:url('save_temp_reservation')}", data, (response) => {
        if (response.code) {
          loading.hide(() => {
            weui.toast(response.msg, {
              duration: 1000,
              callback: () => {
                window.location.replace(response.url);
                // window.location.href = response.url;
              }
            });
          })
        } else {
          loading.hide(() => {
            weui.topTips(response.msg, 3000);
          });
        }
      });
    })
    .catch((error) => {
      loading.hide();
      console.log('error', error);
      weui.topTips('服务器未知错误！提交失败。', 1500);
    })
  }
});

// 图片上传工厂模式
function uploadFactory(uploadSelector) {
  let uploadCount = 0;
  let uploadCountDom = $(uploadSelector + ' #uploadCount');
  let uploadIdDom = $(uploadSelector + ' input.image-id');
  let image = null;
  return {
    init: function() {
      // 绑定上传
      weui.uploader(uploadSelector, {
        url: "{:url('image_upload')}",
        auto: true,
        type: 'file',
        fileVal: 'image',
        compress: {
          width: 1600,
          height: 1600,
          quality: 1,
        },
        onBeforeQueued: function(files) {
          if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
            weui.alert('请上传图片');
            return false;
          }
          if(this.size > 20 * 1024 * 1024){
            weui.alert('请上传不超过20M的图片');
            return false;
          }
          if (files.length > 1) { // 防止一下子选中过多文件
            weui.alert('最多只能上传1张图片，请重新选择');
            return false;
          }
          if (uploadCount + 1 > 1) {
            weui.alert('最多只能上传1张图片');
            return false;
          }

          ++uploadCount;
          uploadCountDom.text(uploadCount);
        },
        onQueued: function(){
          image = this;
          // console.log(this);
        },
        onBeforeSend: function(data, headers){
          // console.log(this, data, headers);
          // $.extend(data, { test: 1 }); // 可以扩展此对象来控制上传参数
          // $.extend(headers, { Origin: 'http://127.0.0.1' }); // 可以扩展此对象来控制上传头部
          // return false; // 阻止文件上传
        },
        onProgress: function(procent){
          // console.log(this, procent);
        },
        onSuccess: function (ret) {
          uploadIdDom.val(ret);
        },
        onError: function(err){
          // console.log(this, err);
        }
      });

      // 绑定图片预览
      $(uploadSelector + ' #uploaderFiles').on('click', 'li', function() {
        const self = this;
        const url = $(this).css('background-image').match(/url\((.*?)\)/)[1].replace(/"/g, '');
        const id = $(this).attr('data-id');
        const gallery = weui.gallery(url, {
          className: 'custom-gallery',
          onDelete: function() {
            weui.confirm('确定删除该图片？', function() {
              uploadCountDom.text(--uploadCount);
              uploadIdDom.val('');
              image.stop();
              $(self).remove();
              gallery.hide();
            })
          }
        });
      });
    }
  }
}

$('#campus_card_no').on('change', function() {
  var capus_card_no = $(this).val();
  if (capus_card_no.length === 12) {
    $.get("{:url('get_emp_info')}", { emp_no: capus_card_no }, function(data) {
      $('#name').val(data['emp_name']);
      $('#unit').val(data['emp_unit']);
    });
  }
});
</script>
{/block}