{extend name="wx_base" /}

{block name="style"}
<style>
.weui-cell__hd > img {
  margin-right: 5px;
  position: relative;
  top: 3px;
  height: 20px;
  width: 20px;
}
</style>
{/block}

{block name="content"}
<div class="weui-cells__title">尊敬的{$emp_no}用户，请选择您要办理的业务：</div>
<div class="weui-cells">
  <a class="weui-cell weui-cell_access" href="{:url('index/business/wx_reservation')}" id="wx_reservation">
    <div class="weui-cell__hd"><img src="{$Think.STATIC_URL}/images/wx_cars_reservations.png"></div>
    <div class="weui-cell__bd">
      <p>车辆预约</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="{:url('index/business/wx_mot_test')}">
    <div class="weui-cell__hd"><img src="{$Think.STATIC_URL}/images/wx_mot_test.png"></div>
    <div class="weui-cell__bd">
      <p>年审</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="{:url('index/business/wx_reservation_record')}">
    <div class="weui-cell__hd"><img src="{$Think.STATIC_URL}/images/wx_book_record.png"></div>
    <div class="weui-cell__bd">
      <p>预约记录</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="{:url('index/business/wx_mot_test_record')}">
    <div class="weui-cell__hd"><img src="{$Think.STATIC_URL}/images/wx_mot_test_record.png"></div>
    <div class="weui-cell__bd">
      <p>年审记录</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="{:url('index/business/wx_temp_reservation')}">
    <div class="weui-cell__hd"><img src="{$Think.STATIC_URL}/images/wx_cars_reservations.png"></div>
    <div class="weui-cell__bd">
      <p>临时出入</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
</div>
{/block}

{block name="javascript"}
<script>
$('#wx_reservation').on('click', function(e) {
  e.preventDefault();
  var now = new Date();
  var hours = now.getHours();
  if (hours > 7 &&hours < 23) {
    window.location.href = "{:url('index/business/wx_reservation')}";
  } else {
    weui.topTips('预约时间7:00-23:00', 1500);
  }
});
</script>
{/block}