{extend name="base" /}

{block name="content"}
<div class="row">
  <form id="form-query" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-1 control-label">审核状态:</label>
      <div class="col-sm-2">
        <select class="form-control" id="status" name="status">
          <option value="99">所有</option>
          <option value="0">待审核</option>
          <option value="1">通过审核</option>
          <option value="2">未通过审核</option>
        </select>
      </div>
      <label class="col-sm-1 control-label">开始时间:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control datetime-item" id="start_time" name="start_time">
      </div>
      <label class="col-sm-1 control-label">结束时间:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control datetime-item" id="end_time" name="end_time">
      </div>
      <div class="col-sm-1">
        <button class="btn btn-default ladda-button" data-style="slide-right" data-spinner-color="#000" id="btn-query">
          <span class="ladda-label">
            <i class="fa fa-search"></i>&nbsp;查询
          </span>
        </button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary" id="btn-export">
            <i class="fa fa-download"></i>&nbsp;导出当前数据
        </button>
      </div>
    </div>
  </form>              
</div>
<div class="row" style="margin-top: 20px;">
  <table id="list"></table>
</div>
{/block}

{block name="javascript"}
<script type="text/babel">
// 绑定时间选择器
lay('.datetime-item').each(function() {
  const self = this;
  laydate.render({
    elem: this,
    type: 'datetime',
    theme: '#222222',
    trigger: 'click',
    done: function(value, date) {
      const { year, month, date: day, hours, minutes, seconds } = date;
      if (year && month && day) {
        if (!hours && !minutes && !seconds) {
          let now = new Date();
          const nowhours = now.getHours() >= 10 ? now.getHours() : '0' + now.getHours();
          const nowminutes = now.getMinutes() >= 10 ? now.getMinutes() : '0' + now.getMinutes();
          const nowseconds = now.getSeconds() >= 10 ? now.getSeconds() : '0' + now.getSeconds();
          setTimeout(() => $(self).val(value.substr(0, 10) + ' ' + nowhours + ':' + nowminutes + ':' + nowseconds));
        }
      }
    },
  });
});

// 绑定表格数据
$('#list').bootstrapTable({
  pageSize: 10,
  pageList: [10, 25, 50, 100],
  pagination: true,
  columns: [{
    field: 'applicant',
    title: '申请人姓名',
    align: 'center',
  }, {
    field: 'submitter_no',
    title: '申请人工号',
    align: 'center',
  }, {
    field: 'car_owner',
    title: '车主姓名',
    align: 'center',
  }, {
    field: 'relationship',
    title: '申请人与车主关系',
    align: 'center',
  }, {
    field: 'car_no',
    title: '车牌号',
    align: 'center',
  }, {
    field: 'tel',
    title: '联系方式',
    align: 'center',
  }, {
    field: 'displacement',
    title: '排量（升）',
    align: 'center',
  }, {
    field: 'applicant_unit',
    title: '申请人所在单位',
    align: 'center',
  }, {
    field: 'apply_type',
    title: '申请类别',
    align: 'center',
  }, {
    field: 'submit_time',
    title: '提交时间',
    align: 'center',
    sortable: true,
  }, {
    field: 'status',
    title: '审核状态',
    align: 'center',
    formatter: (value) => {
      switch (value) {
        case 0: return '待审核';
        case 1: return '审核通过';
        case 2: return '未通过审核';
      }
    },
  }]
});

// 绑定查询事件
$('#btn-query').on('click', function(e) {
  e.preventDefault();
  if (!$('#start_time').val() || !$('#end_time').val()) {
    return ui_alert('请选择时间范围！');
  }
  const loading = Ladda.create(this);
  loading.start();
  $.get("{:url('query_mot_test_list')}", $('#form-query').serializeArray(), (response) => {
    $('#list').bootstrapTable('load', response);
  }).always(() => loading.stop());
});

// 绑定导出事件
$('#btn-export').on('click', function(e) {
  e.preventDefault();
  if (!$('#start_time').val() || !$('#end_time').val()) {
    return ui_alert('请选择时间范围！');
  }
  const url = "{:url('export_mot_test_excel')}?" + $('#form-query').serialize();
  window.open(url);
});
</script>
{/block}