<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$title}</title>
  <!-- 引入jquery -->
  <script src="{$Think.STATIC_URL}/libs/jquery/dist/jquery.min.js"></script>
  <!-- 引入common_alert.js -->
  <script src="{$Think.STATIC_URL}/js/common_alert.js"></script>
  <!-- 引入bootstrap -->
  <link rel="stylesheet" href="{$Think.STATIC_URL}/libs/bootstrap/dist/css/bootstrap.min.css">
  <script src="{$Think.STATIC_URL}/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- 引入bootstrap-table -->
  <link rel="stylesheet" href="{$Think.STATIC_URL}/libs/bootstrap-table/dist/bootstrap-table.min.css">
  <script src="{$Think.STATIC_URL}/libs/bootstrap-table/dist/bootstrap-table.min.js"></script>
  <script src="{$Think.STATIC_URL}/libs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
  <!-- 引入bootbox -->
  <script src="{$Think.STATIC_URL}/libs/bootbox/bootbox.min.js"></script>
  <!-- 引入animate.css -->
  <!-- <link rel="stylesheet" href="{$Think.STATIC_URL}/libs/animate.css/animate.min.css"> -->
  <!-- 引入font-awesome -->
  <link rel="stylesheet" href="{$Think.STATIC_URL}/libs/font-awesome/css/font-awesome.min.css">
  <!-- 引入ladda -->
  <link rel="stylesheet" href="{$Think.STATIC_URL}/libs/ladda/ladda-themeless.min.css">
  <script src="{$Think.STATIC_URL}/libs/ladda/spin.min.js"></script>
  <script src="{$Think.STATIC_URL}/libs/ladda/ladda.min.js"></script>
  <!-- 引入common.js -->
  <script src="{$Think.STATIC_URL}/js/common.js"></script>
  <!-- 引入laydate -->
  <script src="{$Think.STATIC_URL}/libs/laydate/laydate.js"></script>
  {block name="private_file"}
  {/block}
  <style>
    body {
      background-color: #f0f3f4;
    }
    .wrapper-content {
      padding: 20px;
    }
    button:focus {
      outline: none !important;
    }
  </style>
  {block name="style"}
  {/block}
</head>
<body>
  <div class="wrapper wrapper-content">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          {block name="content"}
          {/block}
        </div>
      </div>
    </div>
  </div>
  <!-- 预约审核模态框 -->
  {notempty name="modal_reservation_handle"}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-reservation-handle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-title"></h4>
        </div>
        <div class="modal-body" id="modal-body">      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-operation" data-status="1">同意</button>
          <button type="button" class="btn btn-danger btn-operation" data-status="2">拒绝</button>
        </div>
      </div>
    </div>
  </div>
  {/notempty}
  <!-- 权限管理模态框 -->
  {notempty name="modal_permission_update"}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-permission-update">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-title">修改预约次数</h4>
        </div>
        <div class="modal-body" id="modal-body">
          <form class="form-horizontal">
            <input type="hidden" value="" id="id">
            <div class="form-group">
              <label class="col-sm-3 control-label">角色名称</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" disabled value="" id="level_name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">预约次数</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" value="" id="reservation_time">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="btn-save">保存</button>
        </div>
      </div>
    </div>
  </div>
  {/notempty}
  <!-- 用户信息编辑模态框 -->
  {notempty name="modal_user_edit"}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-user-edit">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-title">编辑用户信息</h4>
        </div>
        <div class="modal-body" id="modal-body">   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="btn-save">保存</button>
        </div>
      </div>
    </div>
  </div>
  {/notempty}
  <!-- 新增用户模态框 -->
  {notempty name="modal_user_add"}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-user-add">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-title">新增用户</h4>
        </div>
        <div class="modal-body" id="modal-body">   
          <form class="form-horizontal" id="form-add">
            <div class="form-group">
              <label class="col-sm-3 control-label">员工号</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="emp_no" id="emp_no">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">员工姓名</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="emp_name" id="emp_name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">身份证号</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="id_card" id="id_card">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">手机号</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="tel" id="tel">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">员工级别</label>
              <div class="col-sm-9">
                <select class="form-control" name="emp_level" id="emp_level">
                  <option value="1">普通员工</option>
                  <option value="2">部门授权人</option>
                  <option value="3">保卫处授权人</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="btn-add-save">保存</button>
        </div>
      </div>
    </div>
  </div>
  {/notempty}
  {block name="javascript"}
  {/block}
</body>
</html>