html, body {
    /* height: 100%; */
}

body {
    background-color: #D2D6DE;
}

.main {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    width: 350px;
}

.title {
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: center;
}

.tips {
    text-align: center;
}

header img {
    width: 1024px;
}

.contain {
    text-align: center;
}

.contain h2 {
    margin-top: 40px;
}

footer {
    position: fixed;
    bottom: 0;   
    width: 1024px;
    height: 60px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 65px;
    border-top: 5px solid #666;
    background-color: #EFEFEF;
}


#warning {
    margin-left: 5px;
    margin-bottom: 10px;
    color: #f00;
}

.msg {
    font-size: 18px;
}

/* .btn {
    background-color: #2185D0;
} */
