.tips {
    margin: 0 auto;
    width: 800px;
    color: #666;
}

.main {
    margin: 0 auto;
    width: 800px;
    background-color: #F8F8F8;
    padding: 50px 0;
}

.required-icon {
    margin-left: 3px;
    color: red;
}

#warning {
    text-align: center;
    color: red;
}

#clause:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.modal-body > p {
    text-align: center;
    font-weight: bold;
}